.portada {       
    padding: 7px;
    border-bottom: 1px solid white;
}
.portada a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.portada a > * { 
    color: white; 
    margin: 0px 5px;
    font-family: 'Cormorant Garamond', serif;
}



.Carousel-card {
    height: 350px;
    padding: 0;
    position: relative;  
}
.Carousel-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Carousel-card-info {
    position: absolute;
    top: 0; left: 0;
    padding: 15px;
    height: 100%;
    width: 65%;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
}
.Carousel-card-info h2 {
    font-weight: bold;
    font-size: 40pt;
}
.Carousel-card-info p {
    display: -webkit-box;
    text-overflow: clip;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-size: 15pt;
    text-transform: uppercase;
}